.path {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.path:last-child {
  margin-bottom: 0;
}

.path .destination:nth-child(3) {
  text-align: right;
}

.line {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex: 1;
  padding: 0 16px;
  box-sizing: border-box;
}

.line::before {
  position: absolute;
  content: '';
  left: 16px;
  right: 16px;
  display: block;
  height: 3px;
  background: #3D5AFE;
  border-radius: 2px;
}

.transfer {
  width: 4px;
  height: 4px;
  background: #fff;
  border: 3px solid #3D5AFE;
  border-radius: 50%;
  z-index: 1;
  box-sizing: content-box;
}

.time {
  font-size: 24px;
}

.airport {
  font-size: 16px;
  color: #999;
}